saves/
mods/
logs/
forge-1.7.10-10.13.2.1230-src.zip
forge-1.7.10-10.13.2.1230-changelog.txt
servers.dat
options.txt
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
config/
bin/
asm/
.settings/
usernamecache.json
CREDITS-fml.txt
GitFileCopy.bat
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
screenshots/
crash-reports/
.gradle/gradle.log
*.log
